/** Section_1 **/

.section_1 {
    background-color: rgb(247, 247, 247);
    margin: 0px 100px;
    padding: 30px 100px;
    border-radius: 10px;
}
.weight {
    font-weight: 900;
}

/** Head **/

.head_content {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
}
.head_icon {
    text-align: right;
    height: 20px;
    width: auto;
}
.icon_right {
    margin-left: 500px;
}
/** Person_info **/

/** info_1 **/

.person_info {
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}
.info_1 {
    background-color: blue;
    max-height: 190px;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
}
.person_img {
    border: 4px solid #fff;
    width: 100px;
    height: auto;
}
.person_detail {
    margin-left: -30px;
}
.person_name {
    font-size: 22px;
    font-weight: 900;
}
.person_as {
    font-size: 10px;
    font-weight: 900;
    margin: 7px 0 14px 0;
}
.person_button {
    display: inline;
}
#down_btn {
    background-color: rgb(233, 236, 231);
    border-radius: 50px;
    color: #000;
    font-size: 13px;
}
#hire_btn {
    background-color: rgb(81, 184, 81);
    border-radius: 50px;
    font-size: 13px;
}

/**  info_2  **/

.info_2 {
    padding: 25px;
}
.about_me {
    font-size: 22px;
    font-weight: 900;
    margin: 15px 0;
}
.passage {
    font-size: 11px;
    font-weight: 900;
}
.person_property, .person_value {
    font-size: 11px;
    margin-top: 30px;
}

/**  info_3**/

.info_3 {
    padding: 25px;
    font-size: 12px;
    font-weight: 500;
}
.skill_head {
    font-size: 22px;
    margin: 20px 0 0 25px;
}
.lang_2, .lang_3 {
    margin-top: 10px;
}