body{
    background-color: rgb(56, 52, 46);
}
#pic{
    margin-top: 10%;
    margin: 5%;
    background-color: rgb(34, 37, 41);
    box-shadow: 0 0 10px rgb(184, 164, 164);
    padding: 50px;
}
#pic img{
    width: 100% ;
    height: auto;
    margin-bottom:5px;
}
.head_1{
    text-align: center;
    font-family: Courier;
    font-size: 100px;
    margin-top: 3%;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.head_2{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(90, 68, 11);
    font-weight: bold;
    margin-top: 70px;
}
.space_down {
    margin-bottom: 40px;
}